@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsl(0, 0%, 0%);
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    color: var(--main-blue);
}
h1 {
    font-size: 1.5rem;
    color: var(--main-blue);
}
h2 {
    font-size: 1rem;
    color: var(--main-blue);
}
h3 {
    font-size: 1.25rem;
    color: var(--main-blue);
}
h4 {
    font-size: 1rem;
    color: var(--main-blue);
}
p {
    margin-bottom: 1.25rem;
    color: var(--Grayish-Blue);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.25rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
        color: var(--main-blue);
    }
}

/* navbar styles */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar{
    width: 100%;
    height: 60px;
    padding: 3rem 6rem;
    justify-content: space-between;
    position: relative;
}
.navbar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--Grayish-blue);
    left: 0;
    bottom: 0;
    opacity: 0.1;
}
.menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--Grayish-blue);
    transition: var(--transition);
    display: none;
}
.menu-icon:hover{
    color: var(--Dark-grayish);
}
.nav-links .nav-link {
    position: relative;
    transition: var(--transition);
}
.nav-link .close-icon{
    display: none;
}
.nav-links .nav-link a{
    color: var(--Grayish-blue);
}
.nav-link:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--Orange);
    left: 0;
    bottom: -30px;
}
.cart .avatar{
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: var(--transition);
}
.cart .avatar:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
}
.cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--Grayish-blue);
    transition: var(--transition);
}
.cart-icon:hover{
    color: var(--Dark-grayish);
}
.cart .avatar img{
    width: 100%;
}
/* cart */

@media screen and (max-width:900px){
    .navbar::after{
        display: none;
    }
    .navbar{
        padding: 3rem 2rem;
    }
    .menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--White);
        width: 60%;
        height: 100vh;
        left: -100%;
        top: 0;
        padding: 1rem;
        box-shadow: var(--light-shadow);
        transition: var(--transition);
    }
    .show{
        left: 0;
        transition: var(--transition);
        z-index: 100;
    }
    .nav-links.show .close-icon{
        left: 1rem;
    }
    .nav-links .close-icon{
        display: block;
        position: fixed;
        top: 1rem;
        left: -100%;
        font-size: 1.5rem;
        cursor: pointer;
        margin-bottom: 50px;
        transition: var(--transition);

    }
    .nav-links .nav-link:nth-child(2){
        margin-top: 50px;
    }
    .nav-links .nav-link a{
        font-size: 1.3rem;
        color: var(--dark-blue);
        font-weight: 700;
    }
    .nav-link:hover::after{
        bottom: 0;
    }
    .overlay{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        position: absolute;
        top:0;
        left: 0;
    }
    
}
/* navbar styles */

/* product styles */
.product{
    padding: 0rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 100vh;
}
.gallery{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}
.gallery .btns{
    display: none;
}
.main-image{
    cursor: pointer;
}
.gallery img{
    width: 100%;
    border-radius: 1rem;
}
.thumbs{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.thumb{
    border: 3px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}
.thumb:hover{
    border: 3px solid var(--Orange);
}
.thumb.active{
    border: 3px solid var(--Orange);
    position: relative;
}
.thumb.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    left: 0;
    top: 0;
    border-radius: 1.2rem;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* product styles */

/* light box */
.lightbox{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    width: 450px;
}
.btns{
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    gap: 230px;
    justify-content: center;
    width: 100%;
    color: black;
}
.icon-right,
.icon-left{
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    font-size: 2.5rem;
}
.icon-right:hover,
.icon-left:hover{
    color: var(--Orange);
}
.close-lightbox{
    position: absolute;
    right: 15px;
    top: -20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.close-lightbox:hover{
    color: var(--Orange);
}
.lightbox img{
    width: 100%;
    border-radius: 1rem;
}
.lightbox .thumbs{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.lightbox .thumb{
    border: 3px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}
.lightbox .thumb:hover{
    border: 3px solid var(--Orange);
}
.lightbox .thumb.active{
    border: 3px solid var(--Orange);
    position: relative;
}
.lightbox .thumb.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    left: 0;
    top: 0;
    border-radius: 1.2rem;
}
.lightbox button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    top:0;
    left: 0;
}
/* light box */

/* product info */
.product-info .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-info .info .company{
    color: var(--Orange);
    font-weight: 700;
    font-size: 0.9rem;
}
.product-info .info .desc{
    color: var(--Grayish-blue);
    font-size: 0.9rem;
}
.price-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.price-container > div{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.price-container .price{
    font-weight: 700;
    font-size: 1.2rem;
}
.price-container .discount{
    font-size: 1.1rem;
    background-color: var(--Pale-orange);
    color: var(--Orange);
    padding: 0.2rem;
    border-radius: var(--radius);
}
.old-price{
    color: var(--Grayish-blue);
    font-size: 0.9rem;
}
.amount-container{
    background-color: var(--Light-grayish);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: var(--radius);
    width: 50%;
}
.amount-container div{
    font-weight: 700;
}
.amount-container button{
    font-size: 2rem;
    color: var(--Orange);
    font-weight: 700;
    transition: var(--transition);
}

.orange{
    background-color: var(--Orange);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 50px;
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}


/* product info */

/* cart styles */
.your-cart{
    width: 300px;
    height: auto;
    background-color: var(--White);
    box-shadow: var(--light-shadow);
    position: absolute;
    right: 6rem;
    top: calc(60px + 1rem);
    border-radius: var(--radius);
    transition: var(--transition);
    padding: 1rem 0;
    z-index: 98;
}
.cart-title{
    padding: 1rem;
}
.cart-title h2{
    font-size: 1rem;
    font-weight: 700;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: var(--Grayish-blue);
    opacity: 0.2;
}
.cart-items{
    padding: 1rem;
    
}
.cart-item{
    display: flex;
    flex-direction: column;
}
.cart-item .item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5px;
}
.cart-item .item .img{
    width: 60px;
    border-radius: var(--radius);
}
.cart-item .item img{
    width: 100%;
    border-radius: var(--radius);
}
.item-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.item-name{
    font-size: 0.8rem;
    color: var(--Grayish-blue);
}
.total{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    color: var(--Grayish-blue);
}
.total strong{
    color: black;
}
.trash{
    cursor: pointer;
    color: var(--Grayish-blue);
}
/* cart styles */

@media screen and (max-width:900px) {
    .product{
        grid-template-columns: 1fr;
        padding: 2rem ;
        gap: 40px;
        height: auto;
    }
    .gallery{
        width: 100%;
    }
    
    .product-info{
        padding: 0 2rem;
    }
    .your-cart {
        right: 2rem;
    }
    .lightbox{
        width: 350px;
    }
    .price-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .price-container > div{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: flex-start;

    }
    .info-footer{
        flex-direction: column;
        width: 100%;
    }
    .info-footer .amount-container{
        justify-content: space-around;
    }
    .info-footer .amount-container,
    .info-footer .orange{
        width: 100%;
    }
    .gallery{
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
    .gallery .thumbs{
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width:500px) {
    .product{
        padding:  0;
    }
    .gallery .btns{
        display: block;
        top: 50%;
    }
    .gallery .icon-right{
        right: 10px;
        position: absolute;
    }
    .gallery .icon-left{
        left: 10px;
        position: absolute;
    }
    .thumbs{
        display: none;
    }
    .gallery img{
        border-radius: 0;
    }
}